.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 2rem;
    color: #3e54ac;
    /* background-color: #fff; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    max-height: 50px;
}

.nav-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-icon {
    font-size: 1.5rem;
    cursor: pointer;
    /* color: #3E54AC; */
}

.user-icon:hover {
    color: #666;
}
